src/aecg/data/hl7/2003-12 Schema/rim/assoc-subs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3">
<!--
*****************************************************************************************************************
* RIM associations renaming substitutions schema assoc-subs.xsd.
* Generated by xf5 version 1.04, Copyright (C) 2002 by Health Level 7, Inc.
*
* Copyright (c) 2002, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
********************************************************************************************************************
-->
   <xs:annotation>
      <xs:documentation>
         <p>
            when editing this file be sure that the generic
            assoc name is the last child of each choice...
            that way tools that generate sample instances from
            a schema (such as XML Spy) are less	likely to emit it
         </p>
      </xs:documentation>
   </xs:annotation>
   <xs:group name="Acknowledgement.acknowledges">
      <xs:choice>
         <xs:element name="acknowledges" type="Message" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Acknowledgement.acknowledgementDetail">
      <xs:choice>
         <xs:element name="acknowledgementDetail" type="AcknowledgementDetail" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Acknowledgement.annotatedBy">
      <xs:choice>
         <xs:element name="annotatedBy" type="Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Acknowledgement.conveyingMessage">
      <xs:choice>
         <xs:element name="conveyingMessage" type="Message" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="AcknowledgementDetail.acknowledgement">
      <xs:choice>
         <xs:element name="acknowledgement" type="Acknowledgement" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>   
   <xs:group name="AcknowledgementMessage.acknowledgement">
      <xs:choice>
         <xs:element name="acknowledgement" type="Acknowledgement" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Act.inboundRelationship">
      <xs:choice>
         <xs:element name="inboundRelationship" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Act.outboundRelationship">
      <xs:choice>
         <xs:element name="outboundRelationship" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Act.participation">
      <xs:choice>
         <xs:element name="participation" type="Participation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="ActRelationship.source">
      <xs:choice>
         <xs:element name="encounterProcess" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="source" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="ActRelationship.target">
      <xs:choice>
         <xs:element name="causedEncounterEvent" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentObservationEvent" type="Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorEncounterProcess" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="target" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="AttentionLine.transmission">
      <xs:choice>
         <xs:element name="transmission" type="Transmission" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Batch.transmission">
      <xs:choice>
         <xs:element name="transmission" type="Transmission" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="CommunicationFunction.entity">
      <xs:choice>
         <xs:element name="entity" type="Entity" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="CommunicationFunction.transmission">
      <xs:choice>
         <xs:element name="transmission" type="Transmission" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="ControlAct.payload">
      <xs:choice>
         <xs:element name="payload" type="Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="ControlAct.queryEvent">
      <xs:choice>
         <xs:element name="queryEvent" type="QueryEvent" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Entity.communicationFunction">
      <xs:choice>
         <xs:element name="communicationFunction" type="CommunicationFunction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Entity.languageCommunication">
      <xs:choice>
         <xs:element name="languageCommunication" type="LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Entity.playedRole">
      <xs:choice>
         <xs:element name="playedRole" type="Role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Entity.scopedRole">
      <xs:choice>
         <xs:element name="scopedRole" type="Role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="InfrastructureRoot.inboundRelationship">
      <xs:choice>
         <xs:element name="componentOf" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="InfrastructureRoot.outboundRelationship">
      <xs:choice>
         <xs:element name="authorization" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="causeOf" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequelTo" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transportedBy" type="ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="InfrastructureRoot.participation">
      <xs:choice>
         <xs:element name="admitter" type="Participation" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="attender" type="ManagedParticipation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consultant" type="Participation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="discharger" type="Participation" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="ManagedParticipation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locationOf" type="Participation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="notificationContact" type="Participation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referrer" type="Participation" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responsibleParty" type="ManagedParticipation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="Participation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="InfrastructureRoot.role">
      <xs:choice>
         <xs:element name="serviceDeliveryLocation" type="RoleHeir" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="LanguageCommunication.entity">
      <xs:choice>
         <xs:element name="entity" type="Entity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="LogicalExpression.userAsLeft">
      <xs:choice>
         <xs:element name="userAsLeft" type="SelectionExpression" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="LogicalExpression.userAsRight">
      <xs:choice>
         <xs:element name="userAsRight" type="SelectionExpression" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Message.acknowledgedBy">
      <xs:choice>
         <xs:element name="acknowledgedBy" type="Acknowledgement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Message.controlAct">
      <xs:choice>
         <xs:element name="controlAct" type="ControlAct" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Message.conveyedAcknowledgement">
      <xs:choice>
         <xs:element name="conveyedAcknowledgement" type="Acknowledgement" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Parameter.parameterList">
      <xs:choice>
         <xs:element name="parameterList" type="ParameterList" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Parameter.queryByParameter">
      <xs:choice>
         <xs:element name="queryByParameter" type="QueryByParameter" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="ParameterList.parameter">
      <xs:choice>
         <xs:element name="parameter" type="Parameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Participation.act">
      <xs:choice>
         <xs:element name="accomodationEvent" type="ActHeir" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="act" type="Act" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Participation.role">
      <xs:choice>
         <xs:element name="role" type="Role" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="QueryByParameter.parameter">
      <xs:choice>
         <xs:element name="parameter" type="Parameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="QueryBySelection.selectionExpression">
      <xs:choice>
         <xs:element name="selectionExpression" type="SelectionExpression" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="QueryEvent.controlAct">
      <xs:choice>
         <xs:element name="controlAct" type="ControlAct" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="QuerySpec.sortControl">
      <xs:choice>
         <xs:element name="sortControl" type="SortControl" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Role.inboundLink">
      <xs:choice>
         <xs:element name="inboundLink" type="RoleLink" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Role.outboundLink">
      <xs:choice>
         <xs:element name="outboundLink" type="RoleLink" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Role.participation">
      <xs:choice>
         <xs:element name="participation" type="Participation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Role.player">
      <xs:choice>
         <xs:element name="player" type="Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Role.scoper">
      <xs:choice>
         <xs:element name="scoper" type="Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="RoleLink.source">
      <xs:choice>
         <xs:element name="source" type="Role" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="RoleLink.target">
      <xs:choice>
         <xs:element name="target" type="Role" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="SelectionExpression.leftSide">
      <xs:choice>
         <xs:element name="leftSide" type="LogicalExpression" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="SelectionExpression.queryBySelection">
      <xs:choice>
         <xs:element name="queryBySelection" type="QueryBySelection" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="SelectionExpression.rightSide">
      <xs:choice>
         <xs:element name="rightSide" type="LogicalExpression" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="SortControl.querySpec">
      <xs:choice>
         <xs:element name="querySpec" type="QuerySpec" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Transmission.attentionLine">
      <xs:choice>
         <xs:element name="attentionLine" type="AttentionLine" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Transmission.batch">
      <xs:choice>
         <xs:element name="batch" type="Batch" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
   </xs:group>
   <xs:group name="Transmission.communicationFunction">
      <xs:choice>
         <xs:element name="communicationFunction" type="CommunicationFunction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
</xs:schema>
