src/aecg/data/hl7/2003-12 Schema/schema/PORT_MT020001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3"
    elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:voc="urn:hl7-org:v3:voc"
    xmlns:hl7="urn:hl7-org:v3" xmlns:msg="urn:hl7-org:v3:mif" xmlns:fo="http://www.w3.org/1999/XSL/Format">
    <xs:include schemaLocation="../dt/datatypes.xsd"/>
    <xs:include schemaLocation="../voc/voc.xsd"/>
    <!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.1, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
    <xs:group name="PORT_MT020001">
        <xs:sequence>
            <xs:element name="AnnotatedECG" type="PORT_MT020001.AnnotatedECG"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="AnnotatedECG" type="PORT_MT020001.AnnotatedECG"/>
    <xs:complexType name="PORT_MT020001.AnnotatedECG">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CV"/>
            <xs:element name="text" minOccurs="0" maxOccurs="1" type="ED"/>
            <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1" type="IVL_TS"/>
            <xs:element name="confidentialityCode" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="reasonCode" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element type="PORT_MT020001.Component2" minOccurs="1" maxOccurs="1" name="componentOf"/>
            <xs:element type="PORT_MT020001.Definition1" minOccurs="0" maxOccurs="1" name="definition"/>
            <xs:element type="PORT_MT020001.Location1" minOccurs="0" maxOccurs="1" name="location"/>
            <xs:element type="PORT_MT020001.ControlVariable1" minOccurs="0" maxOccurs="unbounded" name="controlVariable"/>
            <xs:element type="PORT_MT020001.PertinentInformation" minOccurs="0"
                maxOccurs="unbounded" name="pertainsTo"/>
            <xs:element type="PORT_MT020001.Component5" minOccurs="0" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TimepointEvent" minOccurs="1" maxOccurs="1" name="timepointEvent"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TimepointEvent">
        <xs:sequence>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CV"/>
            <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
            <xs:element name="reasonCode" minOccurs="0" maxOccurs="unbounded" type="CE"/>
            <xs:element type="PORT_MT020001.Performer2" minOccurs="0" maxOccurs="1" name="performer"/>
            <xs:element type="PORT_MT020001.Component1" minOccurs="1" maxOccurs="1" name="componentOf"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Performer2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.StudyEventPerformer" minOccurs="1" maxOccurs="1" name="studyEventPerformer"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.StudyEventPerformer">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.Person" minOccurs="0" maxOccurs="1" name="assignedPerson"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Person">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="PN"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Person"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.SubjectAssignment" minOccurs="1" maxOccurs="1" name="subjectAssignment"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SubjectAssignment">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Subject1" minOccurs="1" maxOccurs="1" name="subject"/>
            <xs:element type="PORT_MT020001.Definition3" minOccurs="0" maxOccurs="1" name="definition"/>
            <xs:element type="PORT_MT020001.Component10" minOccurs="1" maxOccurs="1" name="componentOf"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Subject1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TrialSubject" minOccurs="1" maxOccurs="1" name="trialSubject"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TrialSubject">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CV"/>
            <xs:element type="PORT_MT020001.DemographicPerson" minOccurs="0" maxOccurs="1" name="subjectDemographicPerson"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.DemographicPerson">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="PN"/>
            <xs:element name="administrativeGenderCode" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="birthTime" minOccurs="0" maxOccurs="1" type="TS"/>
            <xs:element name="raceCode" minOccurs="0" maxOccurs="1" type="CV"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Person"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Definition3">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TreatmentGroupAssignment" minOccurs="1" maxOccurs="1" name="treatmentGroupAssignment"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="false"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TreatmentGroupAssignment">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CV"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component10">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ClinicalTrial" minOccurs="1" maxOccurs="1" name="clinicalTrial"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ClinicalTrial">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element name="title" minOccurs="0" maxOccurs="1" type="ST"/>
            <xs:element name="activityTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
            <xs:element type="PORT_MT020001.Component11" minOccurs="0" maxOccurs="1" name="componentOf"/>
            <xs:element type="PORT_MT020001.Author3" minOccurs="0" maxOccurs="1" name="author"/>
            <xs:element type="PORT_MT020001.Location2" minOccurs="0" maxOccurs="unbounded" name="location"/>
            <xs:element type="PORT_MT020001.ResponsibleParty" minOccurs="0" maxOccurs="unbounded" name="responsibleParty"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component11">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ClinicalTrialProtocol" minOccurs="1" maxOccurs="1" name="clinicalTrialProtocol"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ClinicalTrialProtocol">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element name="title" minOccurs="0" maxOccurs="1" type="ST"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Author3">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ClinicalTrialSponsor" minOccurs="1" maxOccurs="1" name="clinicalTrialSponsor"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="AP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ClinicalTrialSponsor">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Organization" minOccurs="1" maxOccurs="1" name="sponsorOrganization"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Organization">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="ON"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Organization"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Location2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TrialSite" minOccurs="1" maxOccurs="1" name="trialSite"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="AP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TrialSite">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.Location" minOccurs="0" maxOccurs="1" name="location"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Location">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="TN"/>
            <xs:element name="addr" minOccurs="0" maxOccurs="1" type="AD"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Place"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ResponsibleParty">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TrialInvestigator" minOccurs="1" maxOccurs="1" name="trialInvestigator"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="AP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TrialInvestigator">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.Person" minOccurs="0" maxOccurs="1" name="investigatorPerson"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Definition1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.RelativeTimepoint" minOccurs="1" maxOccurs="1" name="relativeTimepoint"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="AP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="false"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.RelativeTimepoint">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CV"/>
            <xs:element type="PORT_MT020001.Component3" minOccurs="1" maxOccurs="1" name="componentOf"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component3">
        <xs:sequence>
            <xs:element name="pauseQuantity" minOccurs="0" maxOccurs="1" type="PQ"/>
            <xs:element type="PORT_MT020001.ProtocolTimepointEvent" minOccurs="1" maxOccurs="1" name="protocolTimepointEvent"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ProtocolTimepointEvent">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CV"/>
            <xs:element type="PORT_MT020001.Component4" minOccurs="1" maxOccurs="1" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component4">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ReferenceEvent" minOccurs="1" maxOccurs="1" name="referenceEvent"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ReferenceEvent">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CV"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActHeir"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Location1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.TestingSite" minOccurs="1" maxOccurs="1" name="testingSite"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.TestingSite">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.Location" minOccurs="0" maxOccurs="1" name="location"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.RelatedObservation" minOccurs="1" maxOccurs="1" name="relatedObservation"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="AP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.RelatedObservation">
        <xs:sequence>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="text" minOccurs="0" maxOccurs="1" type="ED"/>
            <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:anyType"/>
            <xs:element type="PORT_MT020001.Author4" minOccurs="0" maxOccurs="unbounded" name="author"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Author4">
        <xs:sequence>
            <xs:element type="PORT_MT020001.AssignedEntity" minOccurs="1" maxOccurs="1" name="assignedEntity"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AssignedEntity">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.AuthorType" minOccurs="0" maxOccurs="1" name="assignedAuthorType"/>
            <xs:element type="PORT_MT020001.AuthoringOrganization" minOccurs="0" maxOccurs="1" name="representedAuthoringOrganization"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Device">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="manufacturerModelName" minOccurs="0" maxOccurs="1" type="SC"/>
            <xs:element name="softwareName" minOccurs="0" maxOccurs="1" type="SC"/>
            <xs:element type="PORT_MT020001.ManufacturedDevice" minOccurs="0" maxOccurs="1" name="playedManufacturedDevice"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Device"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ManufacturedDevice">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Organization" minOccurs="0" maxOccurs="1" name="manufacturerOrganization"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AuthoringOrganization">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element name="name" minOccurs="0" maxOccurs="1" type="ON"/>
            <xs:element type="PORT_MT020001.IdentifiedEntity" minOccurs="0" maxOccurs="1" name="identification"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Organization"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.IdentifiedEntity">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.PertinentInformation">
        <xs:sequence>
            <xs:element type="PORT_MT020001.FindingComment" minOccurs="1" maxOccurs="1" name="subjectFindingComment"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.FindingComment">
        <xs:sequence>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="text" minOccurs="0" maxOccurs="1" type="ED"/>
            <xs:element name="value" minOccurs="0" maxOccurs="1" type="ST"/>
            <xs:element type="PORT_MT020001.Author" minOccurs="0" maxOccurs="unbounded" name="author"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Author">
        <xs:sequence>
            <xs:element type="PORT_MT020001.AssignedEntity" minOccurs="1" maxOccurs="1" name="assignedEntity"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component5">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Series" minOccurs="1" maxOccurs="1" name="series"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Series">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CE"/>
            <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1" type="IVL_TS"/>
            <xs:element type="PORT_MT020001.Author1" minOccurs="0" maxOccurs="1" name="author"/>
            <xs:element type="PORT_MT020001.SecondaryPerformer" minOccurs="0" maxOccurs="unbounded" name="secondaryPerformer"/>
            <xs:element type="PORT_MT020001.Support2" minOccurs="0" maxOccurs="1" name="support"/>
            <xs:element type="PORT_MT020001.ControlVariable6" minOccurs="0" maxOccurs="unbounded" name="controlVariable"/>
            <xs:element type="PORT_MT020001.Component8" minOccurs="1" maxOccurs="unbounded" name="component"/>
            <xs:element type="PORT_MT020001.Subject2" minOccurs="0" maxOccurs="unbounded" name="subjectOf"/>
            <xs:element type="PORT_MT020001.DerivedFrom" minOccurs="0" maxOccurs="unbounded" name="derivation"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Author1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.SeriesAuthor" minOccurs="1" maxOccurs="1" name="seriesAuthor"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SeriesAuthor">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.SeriesDevice" minOccurs="1" maxOccurs="1" name="manufacturedSeriesDevice"/>
            <xs:element type="PORT_MT020001.Organization" minOccurs="0" maxOccurs="1" name="manufacturerOrganization"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SeriesDevice">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="manufacturerModelName" minOccurs="0" maxOccurs="1" type="SC"/>
            <xs:element name="softwareName" minOccurs="0" maxOccurs="1" type="SC"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Device"/>
        <xs:attribute name="classCode" type="EntityClass"/>
        <xs:attribute name="determinerCode" type="EntityDeterminer"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SecondaryPerformer">
        <xs:sequence>
            <xs:element name="functionCode" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="time" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
            <xs:element type="PORT_MT020001.SeriesPerformer" minOccurs="1" maxOccurs="1" name="seriesPerformer"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SeriesPerformer">
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1" type="II"/>
            <xs:element type="PORT_MT020001.Person" minOccurs="0" maxOccurs="1" name="assignedPerson"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="RoleHeir"/>
        <xs:attribute name="classCode" type="RoleClass"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Support2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ROI" minOccurs="1" maxOccurs="1" name="supportingROI"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ROI">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CD"/>
            <xs:element type="PORT_MT020001.Component7" minOccurs="1" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component7">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Boundary" minOccurs="1" maxOccurs="1" name="boundary"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Boundary">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CE"/>
            <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:anyType"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable6">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable" minOccurs="1" maxOccurs="1" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CE"/>
            <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:anyType"/>
            <xs:element type="PORT_MT020001.Component12" minOccurs="0" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component12">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable" minOccurs="1" maxOccurs="1" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component8">
        <xs:sequence>
            <xs:element type="PORT_MT020001.SequenceSet" minOccurs="1" maxOccurs="1" name="sequenceSet"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.SequenceSet">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable5" minOccurs="0" maxOccurs="unbounded" name="controlVariable"/>
            <xs:element type="PORT_MT020001.Component9" minOccurs="1" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable5">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable" minOccurs="1" maxOccurs="1" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component9">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Sequence" minOccurs="1" maxOccurs="1" name="sequence"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Sequence">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CE"/>
            <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:anyType"/>
            <xs:element type="PORT_MT020001.ControlVariable3" minOccurs="0" maxOccurs="unbounded" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable3">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable" minOccurs="1" maxOccurs="1" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Subject2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.AnnotationSet" minOccurs="1" maxOccurs="1" name="annotationSet"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AnnotationSet">
        <xs:sequence>
            <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
            <xs:element name="activityTime" minOccurs="0" maxOccurs="1" type="SXCM_TS"/>
            <xs:element name="methodCode" minOccurs="0" maxOccurs="unbounded" type="CE"/>
            <xs:element type="PORT_MT020001.Author2" minOccurs="0" maxOccurs="unbounded" name="author"/>
            <xs:element type="PORT_MT020001.ControlVariable4" minOccurs="0" maxOccurs="unbounded" name="controlVariable"/>
            <xs:element type="PORT_MT020001.Component" minOccurs="0" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Author2">
        <xs:sequence>
            <xs:element type="PORT_MT020001.AssignedEntity" minOccurs="1" maxOccurs="1" name="assignedEntity"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Participation"/>
        <xs:attribute name="typeCode" type="ParticipationType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.ControlVariable4">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ControlVariable" minOccurs="1" maxOccurs="1" name="controlVariable"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Annotation" minOccurs="1" maxOccurs="1" name="annotation"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Annotation">
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1" type="CE"/>
            <xs:element name="text" minOccurs="0" maxOccurs="1" type="ED"/>
            <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:anyType"/>
            <xs:element type="PORT_MT020001.Support1" minOccurs="0" maxOccurs="1" name="support"/>
            <xs:element type="PORT_MT020001.Component6" minOccurs="0" maxOccurs="unbounded" name="component"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="Observation"/>
        <xs:attribute name="classCode" type="ActClass"/>
        <xs:attribute name="moodCode" type="ActMood"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Support1">
        <xs:sequence>
            <xs:element type="PORT_MT020001.ROI" minOccurs="1" maxOccurs="1" name="supportingROI"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.Component6">
        <xs:sequence>
            <xs:element name="sequenceNumber" minOccurs="0" maxOccurs="1" type="INT"/>
            <xs:element type="PORT_MT020001.Annotation" minOccurs="1" maxOccurs="1" name="annotation"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.DerivedFrom">
        <xs:sequence>
            <xs:element type="PORT_MT020001.Series" minOccurs="1" maxOccurs="1" name="derivedSeries"/>
        </xs:sequence>
        <xs:attribute name="type" type="Classes" default="ActRelationship"/>
        <xs:attribute name="typeCode" type="ActRelationshipType"/>
        <xs:attribute name="contextControlCode" type="ContextControl" default="OP"/>
        <xs:attribute name="contextConductionInd" type="bl" default="true"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AuthorType">
        <xs:choice>
            <xs:element name="assignedPerson" minOccurs="0" maxOccurs="1" type="PORT_MT020001.Person"/>
            <xs:element name="assignedDevice" minOccurs="0" maxOccurs="1" type="PORT_MT020001.Device"/>
        </xs:choice>
        <xs:attribute name="type" type="Classes" default="Entity"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
        <xs:attribute name="stubId" type="oid" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AuthorType_comp1_1">
        <xs:attribute name="type" type="Classes" default="LivingSubject"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AuthorType_comp2_2">
        <xs:attribute name="type" type="Classes" default="Material"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PORT_MT020001.AuthorType_comp2_1">
        <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
        <xs:attribute name="templateId" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="typeID" use="optional">
            <xs:simpleType>
                <xs:list itemType="oid"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="realmCode" use="optional">
            <xs:simpleType>
                <xs:list itemType="cs"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFlavor" type="cs" use="optional"/>
    </xs:complexType>
</xs:schema>
